/*** TEMAS ***/

/* ORANGE */
.light.orange {
	--background: #fff8f5;
	--on-background: #231a12;
	--surface: #fff8f5;
	--surface-dim: #e9d7c9;
	--surface-bright: #fff8f5;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #fff1e8;
	--surface-container: #fdebdd;
	--surface-container-high: #f7e5d7;
	--surface-container-highest: #f2dfd1;
	--on-surface: #231a12;
	--surface-variant: #f8dec9;
	--on-surface-variant: #554334;
	--inverse-surface: #392e25;
	--inverse-on-surface: #ffeee1;
	--outline: #887362;
	--outline-variant: #dbc2ae;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #8c5000;
	--primary: #8c5000;
	--on-primary: #ffffff;
	--primary-container: #ff9e30;
	--on-primary-container: #402100;
	--inverse-primary: #ffb873;
	--secondary: #825425;
	--on-secondary: #ffffff;
	--secondary-container: #ffc896;
	--on-secondary-container: #5c3507;
	--tertiary: #596400;
	--on-tertiary: #ffffff;
	--tertiary-container: #adc024;
	--on-tertiary-container: #272d00;
	--error: #ba1a1a;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #410002;
}
.dark.orange {
	--background: #1a120a;
	--on-background: #f2dfd1;
	--surface: #1a120a;
	--surface-dim: #1a120a;
	--surface-bright: #42372e;
	--surface-container-lowest: #150d06;
	--surface-container-low: #231a12;
	--surface-container: #271e15;
	--surface-container-high: #32281f;
	--surface-container-highest: #3e3329;
	--on-surface: #f2dfd1;
	--surface-variant: #554334;
	--on-surface-variant: #dbc2ae;
	--inverse-surface: #f2dfd1;
	--inverse-on-surface: #392e25;
	--outline: #a38d7a;
	--outline-variant: #554334;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #ffb873;
	--primary: #ffc187;
	--on-primary: #4a2800;
	--primary-container: #f08c00;
	--on-primary-container: #2a1400;
	--inverse-primary: #8c5000;
	--secondary: #f7ba82;
	--on-secondary: #4a2800;
	--secondary-container: #5e3709;
	--on-secondary-container: #ffcb9d;
	--tertiary: #c5d83d;
	--on-tertiary: #2d3400;
	--tertiary-container: #9cae09;
	--on-tertiary-container: #181c00;
	--error: #ffb4ab;
	--on-error: #690005;
	--error-container: #93000a;
	--on-error-container: #ffdad6;
}

/* CYAN */
.light.cyan {
	--background: #f3fbfa;
	--on-background: #151d1d;
	--surface: #f3fbfa;
	--surface-dim: #d4dcdb;
	--surface-bright: #f3fbfa;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #edf5f4;
	--surface-container: #e7efef;
	--surface-container-high: #e2eae9;
	--surface-container-highest: #dce4e3;
	--on-surface: #151d1d;
	--surface-variant: #d5e6e5;
	--on-surface-variant: #3b4949;
	--inverse-surface: #2a3232;
	--inverse-on-surface: #eaf2f1;
	--outline: #6b7a79;
	--outline-variant: #bacac9;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #006a6a;
	--primary: #006a6a;
	--on-primary: #ffffff;
	--primary-container: #23ebeb;
	--on-primary-container: #004747;
	--inverse-primary: #00dddd;
	--secondary: #2e6767;
	--on-secondary: #ffffff;
	--secondary-container: #b7f1f0;
	--on-secondary-container: #145352;
	--tertiary: #62578a;
	--on-tertiary: #ffffff;
	--tertiary-container: #d8ccff;
	--on-tertiary-container: #423768;
	--error: #ba1a1a;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #410002;
}
.dark.cyan {
	--background: #0d1515;
	--on-background: #dce4e3;
	--surface: #0d1515;
	--surface-dim: #0d1515;
	--surface-bright: #333b3a;
	--surface-container-lowest: #08100f;
	--surface-container-low: #151d1d;
	--surface-container: #192121;
	--surface-container-high: #242b2b;
	--surface-container-highest: #2e3636;
	--on-surface: #dce4e3;
	--surface-variant: #3b4949;
	--on-surface-variant: #bacac9;
	--inverse-surface: #dce4e3;
	--inverse-on-surface: #2a3232;
	--outline: #849493;
	--outline-variant: #3b4949;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #00dddd;
	--primary: #aefffe;
	--on-primary: #003737;
	--primary-container: #00dddd;
	--on-primary-container: #003d3d;
	--inverse-primary: #006a6a;
	--secondary: #98d1d0;
	--on-secondary: #003737;
	--secondary-container: #014747;
	--on-secondary-container: #a5dede;
	--tertiary: #f6efff;
	--on-tertiary: #332959;
	--tertiary-container: #cdbffa;
	--on-tertiary-container: #3a2f60;
	--error: #ffb4ab;
	--on-error: #690005;
	--error-container: #93000a;
	--on-error-container: #ffdad6;
}

/* RED */
.light.red {
	--background: #fff8f7;
	--on-background: #281716;
	--surface: #fff8f7;
	--surface-dim: #f2d3d0;
	--surface-bright: #fff8f7;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #fff0ef;
	--surface-container: #ffe9e6;
	--surface-container-high: #ffe2de;
	--surface-container-highest: #fbdbd8;
	--on-surface: #281716;
	--surface-variant: #ffdad6;
	--on-surface-variant: #5c403d;
	--inverse-surface: #3f2c2a;
	--inverse-on-surface: #ffedea;
	--outline: #906f6b;
	--outline-variant: #e5bdb9;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #be0d1a;
	--primary: #a50011;
	--on-primary: #ffffff;
	--primary-container: #de2c2d;
	--on-primary-container: #ffffff;
	--inverse-primary: #ffb4ac;
	--secondary: #a53a34;
	--on-secondary: #ffffff;
	--secondary-container: #ff8d83;
	--on-secondary-container: #4e0004;
	--tertiary: #744500;
	--on-tertiary: #ffffff;
	--tertiary-container: #a66600;
	--on-tertiary-container: #ffffff;
	--error: #ba1a1a;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #410002;
}
.dark.red {
	--background: #1f0f0e;
	--on-background: #fbdbd8;
	--surface: #1f0f0e;
	--surface-dim: #1f0f0e;
	--surface-bright: #483432;
	--surface-container-lowest: #190a09;
	--surface-container-low: #281716;
	--surface-container: #2c1b19;
	--surface-container-high: #382523;
	--surface-container-highest: #43302e;
	--on-surface: #fbdbd8;
	--surface-variant: #5c403d;
	--on-surface-variant: #e5bdb9;
	--inverse-surface: #fbdbd8;
	--inverse-on-surface: #3f2c2a;
	--outline: #ac8884;
	--outline-variant: #5c403d;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #ffb4ac;
	--primary: #ffb4ac;
	--on-primary: #690007;
	--primary-container: #d62528;
	--on-primary-container: #ffffff;
	--inverse-primary: #be0d1a;
	--secondary: #ffb4ac;
	--on-secondary: #65090c;
	--secondary-container: #7c1c1a;
	--on-secondary-container: #ffc9c3;
	--tertiary: #ffb867;
	--on-tertiary: #482900;
	--tertiary-container: #9d6000;
	--on-tertiary-container: #ffffff;
	--error: #ffb4ab;
	--on-error: #690005;
	--error-container: #93000a;
	--on-error-container: #ffdad6;
}

/* BLUE */
.light.blue {
	--background: #f9f9ff;
	--on-background: #181c23;
	--surface: #f9f9ff;
	--surface-dim: #d8dae4;
	--surface-bright: #f9f9ff;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #f1f3fd;
	--surface-container: #ecedf8;
	--surface-container-high: #e6e8f2;
	--surface-container-highest: #e0e2ec;
	--on-surface: #181c23;
	--surface-variant: #dde2f3;
	--on-surface-variant: #414754;
	--inverse-surface: #2d3038;
	--inverse-on-surface: #eef0fb;
	--outline: #717785;
	--outline-variant: #c1c6d6;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #005cbb;
	--primary: #004ea0;
	--on-primary: #ffffff;
	--primary-container: #0072e4;
	--on-primary-container: #ffffff;
	--inverse-primary: #abc7ff;
	--secondary: #435e8e;
	--on-secondary: #ffffff;
	--secondary-container: #b6ceff;
	--on-secondary-container: #1d3b68;
	--tertiary: #7e239c;
	--on-tertiary: #ffffff;
	--tertiary-container: #a84dc4;
	--on-tertiary-container: #ffffff;
	--error: #ba1a1a;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #410002;
}
.dark.blue {
	--background: #10131a;
	--on-background: #e0e2ec;
	--surface: #10131a;
	--surface-dim: #10131a;
	--surface-bright: #363941;
	--surface-container-lowest: #0b0e15;
	--surface-container-low: #181c23;
	--surface-container: #1c2027;
	--surface-container-high: #272a32;
	--surface-container-highest: #31353d;
	--on-surface: #e0e2ec;
	--surface-variant: #414754;
	--on-surface-variant: #c1c6d6;
	--inverse-surface: #e0e2ec;
	--inverse-on-surface: #2d3038;
	--outline: #8b919f;
	--outline-variant: #414754;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #abc7ff;
	--primary: #abc7ff;
	--on-primary: #002f65;
	--primary-container: #0072e4;
	--on-primary-container: #ffffff;
	--inverse-primary: #005cbb;
	--secondary: #acc7fd;
	--on-secondary: #10305d;
	--secondary-container: #23406d;
	--on-secondary-container: #c2d5ff;
	--tertiary: #f0b0ff;
	--on-tertiary: #54006d;
	--tertiary-container: #a84dc4;
	--on-tertiary-container: #ffffff;
	--error: #ffb4ab;
	--on-error: #690005;
	--error-container: #93000a;
	--on-error-container: #ffdad6;
}

/* PURPLE */
.light.purple {
	--background: #fef7ff;
	--on-background: #1d1a24;
	--surface: #fef7ff;
	--surface-dim: #dfd7e6;
	--surface-bright: #fef7ff;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #f8f1ff;
	--surface-container: #f3ebfa;
	--surface-container-high: #ede5f4;
	--surface-container-highest: #e7e0ee;
	--on-surface: #1d1a24;
	--surface-variant: #e8dff4;
	--on-surface-variant: #4a4455;
	--inverse-surface: #322f39;
	--inverse-on-surface: #f6eefc;
	--outline: #7b7487;
	--outline-variant: #cbc3d8;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #6f32e5;
	--primary: #6018d6;
	--on-primary: #ffffff;
	--primary-container: #864efd;
	--on-primary-container: #ffffff;
	--inverse-primary: #d0bcff;
	--secondary: #6850a0;
	--on-secondary: #ffffff;
	--secondary-container: #c9b3ff;
	--on-secondary-container: #39206f;
	--tertiary: #96007f;
	--on-tertiary: #ffffff;
	--tertiary-container: #c735a9;
	--on-tertiary-container: #ffffff;
	--error: #ba1a1a;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #410002;
}
.dark.purple {
	--background: #15121c;
	--on-background: #e7e0ee;
	--surface: #15121c;
	--surface-dim: #15121c;
	--surface-bright: #3b3742;
	--surface-container-lowest: #0f0d16;
	--surface-container-low: #1d1a24;
	--surface-container: #211e28;
	--surface-container-high: #2c2833;
	--surface-container-highest: #37333e;
	--on-surface: #e7e0ee;
	--surface-variant: #4a4455;
	--on-surface-variant: #cbc3d8;
	--inverse-surface: #e7e0ee;
	--inverse-on-surface: #322f39;
	--outline: #958da1;
	--outline-variant: #4a4455;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #d0bcff;
	--primary: #d0bcff;
	--on-primary: #3c0091;
	--primary-container: #7f47f6;
	--on-primary-container: #ffffff;
	--inverse-primary: #6f32e5;
	--secondary: #d0bcff;
	--on-secondary: #38206e;
	--secondary-container: #48317f;
	--on-secondary-container: #ddcdff;
	--tertiary: #ffade4;
	--on-tertiary: #5f0050;
	--tertiary-container: #c02ea3;
	--on-tertiary-container: #ffffff;
	--error: #ffb4ab;
	--on-error: #690005;
	--error-container: #93000a;
	--on-error-container: #ffdad6;
}

/* GREEN */
.light.green {
	--background: #f6fce9;
	--on-background: #181d12;
	--surface: #f6fce9;
	--surface-dim: #d6dcca;
	--surface-bright: #f6fce9;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #f0f6e3;
	--surface-container: #eaf0de;
	--surface-container-high: #e4ebd8;
	--surface-container-highest: #dfe5d2;
	--on-surface: #181d12;
	--surface-variant: #dbe6cc;
	--on-surface-variant: #404a36;
	--inverse-surface: #2c3226;
	--inverse-on-surface: #edf3e0;
	--outline: #707a65;
	--outline-variant: #bfcab1;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #366b00;
	--primary: #366b00;
	--on-primary: #ffffff;
	--primary-container: #7ad725;
	--on-primary-container: #1a3900;
	--inverse-primary: #80dd2d;
	--secondary: #3d6917;
	--on-secondary: #ffffff;
	--secondary-container: #bef491;
	--on-secondary-container: #295300;
	--tertiary: #006c45;
	--on-tertiary: #ffffff;
	--tertiary-container: #25db93;
	--on-tertiary-container: #003b23;
	--error: #ba1a1a;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #410002;
}
.dark.green {
	--background: #0f150a;
	--on-background: #dfe5d2;
	--surface: #0f150a;
	--surface-dim: #0f150a;
	--surface-bright: #353b2e;
	--surface-container-lowest: #0a1006;
	--surface-container-low: #181d12;
	--surface-container: #1b2116;
	--surface-container-high: #262c20;
	--surface-container-highest: #31372a;
	--on-surface: #dfe5d2;
	--surface-variant: #404a36;
	--on-surface-variant: #bfcab1;
	--inverse-surface: #dfe5d2;
	--inverse-on-surface: #2c3226;
	--outline: #8a947d;
	--outline-variant: #404a36;
	--shadow: #000000;
	--scrim: #000000;
	--surface-tint: #80dd2d;
	--primary: #91f040;
	--on-primary: #193800;
	--primary-container: #69c508;
	--on-primary-container: #112a00;
	--inverse-primary: #366b00;
	--secondary: #a1d576;
	--on-secondary: #193800;
	--secondary-container: #244a00;
	--on-secondary-container: #b2e785;
	--tertiary: #4cf4a9;
	--on-tertiary: #003822;
	--tertiary-container: #00c884;
	--on-tertiary-container: #002b19;
	--error: #ffb4ab;
	--on-error: #690005;
	--error-container: #93000a;
	--on-error-container: #ffdad6;
}
